body {
  background-color: #1d2d3c;
}

ul {
  list-style: none;
}

header {
  height: 70px;
  background-color: #06131f;
}

header img {
  height: 40px;
}

header .form-select {
  width: 200px;
  height: 50%;
}

main {
  height: calc(100% - 70px);
  position: relative;
}

.card {
  background-color: #112030;
  color: white;
}

.album {
  font-size: 1.2rem;
}

.artist {
  font-size: 1rem;
  font-weight: 300;
}

.publication-year {
  font-size: 1.1rem;
}

.info-album {
  position: fixed;
  color: white;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  background-color: #215a97;
}

.info-album img {
  width: 400px;
}

.icon {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}